.services_section{
    background-color: #EEFBFA;
    padding-bottom: 50px;
}
.service{
    background-color: #FFFFFF;
    border-radius: 30px;
}
.service:hover{
    background: linear-gradient(90deg, #0F2650 4.29%, rgba(15, 38, 80, 0.81) 92.86%);
    border: 1px solid #FFFFFF;
}
.service:hover h2{
    color: #01CFC9;
}
.service:hover p{
    color: #ffffff;
}